:root {
  --Highlight-text-color: #F48E28;
}

.Highlight-text{
  color: var(--Highlight-text-color);
}


.nav-container{
  align-items: center;
}

input{
  outline: none;
  cursor: pointer;
}

.search-input-box{
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.active{
  padding-bottom: 1px;
  border-bottom: 2px solid var(--Highlight-text-color);

}
li{
  cursor: pointer;
}

.navbar-profile{
  font-size: 23px;
  position: relative;
  cursor: pointer;
}
.nav-profile-dropdown{
  position: absolute;
  display: none;
  right: 0; 
  z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid var(--Highlight-text-color);
  outline: 2px solid white;
  list-style: none;
}

.nav-profile-dropdown li:hover{
  color: var(--Highlight-text-color);
}